<div class="col-xs-12 col-sm-6 col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Checkout the community's recent workouts!</h3>
    </div>
    <div class="panel-body">
      <div class="navcontainer">
        <% @workouts.each do |workout| %>
        <ul>
          <li><a href="/workouts/<%= workout.id %>">
            <%= workout.name %><br>
            Weight: <%= workout.weight %><br>
            Sets: <%= workout.set %><br>
            Reps: <%= workout.rep %><br>
            Date: <%= workout.date %></a></li>
            <form action="/workouts/<%= workout.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Remove">
            </form>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="panel-footer show_links">
      <%= will_paginate @workouts %>
    </div>
  </div>
</div>
