<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Community comments on this workout</h2>
  </div>
  <div class="panel-body">
    <ul>
      <li>Contributed by: <%= @workout.user.username %></li>
      <li>Workout name: <%= @workout.name %></li>
      <li>Body part: <%= @workout.body_part %></li>
      <li>Weight: <%= @workout.weight %></li>
      <li>Sets: <%= @workout.set %></li>
      <li>Reps: <%= @workout.rep %></li>
      <li>Date: <%= @workout.date %></li>
    </ul>
    </div>
    <div class="panel-footer show_links">
      <a href="/workouts/<%= @workout.id %>/edit">Edit</a> | <a href="/">Home</a>
    </div>
  </div>
    <%= erb :_newcomment %>
    <% @comments.each do |c| %>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.gravatar.com/avatar/<%= User.find(@workout.comments.first.user_id).email %>" alt="http://pspfitness.com/wp-content/uploads/2014/01/Sports-Dumbbell-icon.png">
          <div class="caption">
            <h3><%= User.find(c.user_id).username %></h3>
            <%= p c.comment %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
